*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 26);
    position: fixed;
    z-index: 1;
}
.navbar ul{
   display: flex;
 margin: 0px 80px 0px 40px;
}
.navbar img{
    margin: 20px 20px;
}
.sign{
    padding: 10px 20px;
    margin-left: 80px;
    text-decoration: none;
    color: white;
    background-color: rgb(60, 138, 255);
    border-radius:10px;
}
.navbar ul li{
    margin: 0px 10px;
    list-style-type: none;
}
.navbar ul li a{
   text-decoration: none;
   color: white;
   padding: 10px 20px;
   font-family: 'Open Sans';
}
.navbar ul li a:hover{
    background-color: rgb(60, 138, 255);
    border-radius:10px;
    color: white;
}
#ar{
    text-decoration: none;
    color: rgb(0, 119, 255);
    cursor: pointer;

}
#ar:hover{
    color: rgb(155, 201, 255);
}
.sign:hover{
    background-color: rgb(13, 98, 226);
}
.center{
    width: 80%;
    margin: auto;
}
.nextphoto{
    display: flex;
    margin-left: 115px;
}
.nextphoto .left{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.nextphoto .right img{
    margin: 50px 30px 50px 50px;
    width: 600px;
}
.nextphoto .left h3{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
text-transform: uppercase;
color: #3A68B8;
}
.nextphoto .left h1{
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 130%;
color: #FFFFFF;
}
.part1{
    background: rgb(0, 12, 42);
}
button{
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #0e66ff ;
    color: white;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(0, 79, 199);
}
.part1 .logo img{
    width: 80%;
    margin-left: 110px;
    margin-bottom: 80px;
}
.left p{
    color: white;
    padding: 30px 0px;
    line-height: 1.9;
    letter-spacing: 0.4px;
}
.part2{
    background: rgb(1, 0, 18);
}
.center1{
    width: 80%;
    margin: auto;
}
.photoappl{
    display: flex;
}
.part2 .left img{
    width: 90%;
    margin: 80px 0px;
}
.part2 .right h1{
    color: white;
}
.part2 .right p{
    color: white;
    padding: 40px 0px;
    line-height: 1.8;
    opacity: 0.7;
}
.part2 .right button{
    color: white;
}
.part2 .right{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap; 
}
.naxly{
    background: rgb(27, 26, 41);
    width: 19%;
    border-radius: 10px;
}
.naxly .top{
    text-align: center;
}
.naxly .top img{
    padding: 30px 0px;
}
.naxly h2{
    text-align: center;
    color: white;
}
.naxly p{
    text-align: center;
    padding:20px;
    line-height: 1.5;
    color: white;
}
.all{
    display: flex;
    justify-content: space-between;
}
#im{
    margin: 17px 0px;
}
.whatphoto{
    display: flex;
    padding: 130px 0px;
}
.whatphoto .leftt{
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whatphoto h1{
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}
.whatphoto p{
    color: white;
    margin:15px 0px ;
    letter-spacing: 0.5px;
    line-height: 1.4;
}
.alll{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.inf{
    width: 19%;
}
.footer p{
    padding: 10px 0px;
    color: rgb(169, 169, 169);
    cursor: pointer;
}
.footer p:hover{
    color: rgb(149, 177, 255)

}
.footer h3{
    padding: 10px 0px;
    color: white;
    font-weight: 400;
}
.div{
    margin: 10px 0px;
    color: white;
}
.inf h4{
    padding: 5px 0px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}
.inf h4:hover{
    color: rgb(149, 177, 255)

}
.footer{
    background: #11101b;
}
#ii{
    margin-top: 32px;
    color: rgb(255, 255, 255);
}
#ii:hover{
    color: rgb(149, 177, 255)

}
.div i{
    margin-right: 15px;
    cursor: pointer;
    color: rgb(169, 169, 169);
}
.div i:hover{
    color: rgb(255, 255, 255);
}
h4 i{
    margin-right: 6px;
}

#ii i{
    margin-right: 10px;
    margin-left: 10px;  
}
#ww{
    color: rgb(255, 255, 255)
}
#ww:hover{
    color: rgb(149, 177, 255)
}